body{
  font-family: Roboto;
  margin: 0;
  background: whitesmoke;
}


.header-container{
  background: url('Books.MD_UI_Assets/books_header_bg.jpg') 100% 100% no-repeat;
  height: 250px;
  overflow: hidden;
}

.img-container{
  float: left;
  margin-top: 30px;
  margin-left: 30%;
}

.paragraph-container{
  margin-top: 36px;
  margin-left: 15px;
  float: left;
}

#first-p{
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  color: white;
  font-size: 33px;
  margin: 0;
}

#second-p{
  font-family: 'Roboto', sans-serif;
  color: rgba(38, 36, 35, 0.5);
  margin: 0;
  font-size: 13.5px;
}

.search-container{
  clear: both;
  padding-left: 0;
  padding-top: 40px;
  margin-left: 30%;
}

input[type="search"] {
  width: 520px;
  padding: 10px;
  color: black;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  border-radius: 3px 0 0 3px;
  border: 0px solid rgba(255, 255, 255, 0.09);
  background: rgba(255, 255, 255, 0.42);
  float: left;
}

.icon{
  float: left;
  width: 42px;
  height: 29px;
  background: #FFFFFF;
  padding-top: 10px;
  padding-left: 13px;
  border-radius: 0 3px 3px 0;
}

.fa-search {
  color: #A1C52E;
  font-size: 23px;
}

.nav-container{
  font-family: 'Roboto', sans-serif;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.nav-container nav a{
  text-decoration: none;
  color: #8E8F8D;
  margin: auto 15px;
}

.nav-container nav a:hover{
  color: #A1C52E;
}

.nav-container nav .active{
  color: #A1C52E;
  cursor: default;
}

.middle{
 background-color : whitesmoke;
  height : 3000px;
  width : 100%;
  margin-top: 5%;
}
.box{
  background-color : white;
  height : 450px;
  width : 80%;
  position : relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top : 3%;
  border-radius : 5px;
  overflow: hidden;
}

.book img{
  float: right;
  width: 280px;
  height: 450px;
}

.book1{
  float : right;
  width : 63.5%;
  height : 442px;
  background-color : rgba(255,255,255,1);
  position : absolute;
  left : 35.8%;
  border : 5px solid skyblue;
}

.tabs{
  text-align : center;
  height : 20px;
  font-size : 16px;
  width : 50%;
  padding : 1%;
  position : absolute;
  left : 75%;
  top : 45%;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.gray{
  float : left;
  width : 44%;
  height : 450px;
  background-color : rgba(125,125,125,0.8);
  position : absolute;
}
.x{
width : 10%;
  display : inline-block;
}
.bSearch{
  background-color : skyblue;
width : 25%;
  display : inline-block;
  color : blue;
}
.bTable{
  color : skyblue;
width : 25%;
  display : inline-block;
}
.bRate{
  color : skyblue;
  width : 25%;
  display : inline-block;
}

  
.title{
  margin-left : 3%;
}

.title > h1{
  margin: 0;
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.author{
  font-size : 14px;
}
.follow{
  background-color : rgba(0,0,0,0);
  border : 2px solid olive;
  color : olive;
  margin-left : 12px;
}
.publish{
  margin-left : 59px;
  color : gray;
}
.description{
  float : left;
  font-size : 16px;
  font-weight: 300;
  width : 34%;
  padding-left : 3%;
  padding-right : 2%;
  font-family: 'Roboto', sans-serif;
  color: #3A3939;
}

.description a{
  text-decoration: none;
  color: #5597D1;
}

.description1{
  float : left;
  font-size : 14px;
  border-left : 3px solid rgba(0,0,0,0.2);
  width : 30%;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
}

.description1 > span{
  padding-left: 7px;
}

.fs-1, .fs-2, .fs-3, .Num1, .Num2, .Num3{
  margin: 0;
  padding-left: 10px;
}

.b1, .b3, .b5{
  clear: both;
}

.fs-1{
  color: darkorange;
  float: left;
}

.Num1{
  float : left;
  color: darkorange;
  position: relative;
  left: 200px;
}

.b1{
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background-color : #F5F5F5;
  margin-top: 22px;
  margin-bottom: 20px;
}

.b2{
  border: 1px solid rgba(255, 140, 0, 0.76);
  border-radius: 5px 0 0 5px;
  background-color: #ff8c00;
  height: 4px;
  width: 80%;
}

.fs-2{
  color:limegreen;
  float: left;
}

.Num2{
  float: left;
  position: relative;
  left: 195px;
  color: #81BE67;
}

.b3{
  width: 100%;
  height: 6px;
  background-color: #F5F5F5;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.b4{
  border: 1px solid #81BE67;
  border-radius: 5px 0 0 5px;
  background-color: #81BE67;
  width: 75%;
  height: 4px;

}

.fs-3{
  color:#58B3D1;
  float: left;
}

.Num3{
  float: left;
  position: relative;
  left: 181px;
  color: #58b3d1;
}
.b5{
  width : 100%;
  height : 6px;
  background-color : #F5F5F5;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.b6{
  border: 1px solid #58B3D1;
  border-radius: 5px 0 0 5px;
  background-color: #58B3D1;
  width : 95%;
  height: 4px;
}

.Rate, .Table, .Search{
  font-size: 15px;
}

.Rate a, .Table a, .Search a{
  text-decoration: none;
  color : #5597D1;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-bottom: 5px;
  padding-left: 10px;
}

.arrow{
  float: right;
}

.Rate{
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
  float: left;
  margin-bottom: 15px;
  margin-top: 25px;
}

.Table{
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
  float: left;
  clear: left;
  margin-bottom: 15px;
}

.Search{
  width: 100%;
  float: left;
  clear: left;
}

.search1{
  height : 20px;
  font-size : 20px;
  border: 1px solid skyblue;
  width : 54%;
  padding : 1%;
  position : absolute;
  left : 40%;
  top : 8%;
}
.space{
  margin-bottom : -1.5%;
}
.page{
  float : right;
}
.List{
  height : 270px;
  font-size : 18px;
  width : 54%;
  padding : 1%;
  position : absolute;
  left : 40%;
  top : 16%;
}
.vslider{
  height : 290px;
  display : inline-block;
  font-size : 20px;
  border: 1px solid gray;
  position : absolute;
  right : 0;
  top : 24%;
}
.innerSlide{
  height : 110px;
  display : inline-block;
  font-size : 20px;
  border: 3px solid gray;
  position : absolute;
  right : 0;
  top : 24%;
}

.b-links{
  position: relative;
  width: 80%;
  margin: 3% 10% 14% 10%;
  clear: both;
}

.gumroad img, .amazon img, .manning img{
  border-radius: 3px;
}

.amazon span, .manning span{
  padding: 12px;
}

.gumroad{
  float:left;
  color : #9DC22C;
  margin-right: 3%;
}

.amazon{
  float: left;
  color: #9DC22C;
  margin-right: 3%;
}

.manning{
  float: left;
  color: #9DC22C;
}

.bookmark{
  float: right;
}

.price{
  float: right;
  background: white;
  padding: 11.5px;
  text-align: center;
  border-radius: 0 5px 5px 0;
}

.download-btn{
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.download-btn button{
  padding: 1% 5%;
  background-color: #9DC22C;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 300;
  border: 1px solid #9DC22C;
  border-radius: 3px;
}

.last{
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #D2D2D2;
  font-weight: 300;
  margin-top: -4%;
}

/*Footer code*/

.footer-container{
  background: #3A3939;
  overflow: hidden;
  width: 100%;
  height: 150px;
}

footer .left-container{
  float: left;
  margin-top: 3.5%;
  margin-left: 15%;
}

footer .left-container img{
  float: left;
}

footer .left-container p{
  float: left;
  color: #696E6C;
  margin-left: 8px;
  margin-top: 10px;
}

footer .left-container p strong{
  color: #C5C6C4;
}

footer .right-container{
  float: right;
  font-size: 12px;
  margin-top: 3.5%;
  margin-right: 15%;
}

footer .right-container p{
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

footer .right-container > :first-child{
  color: #696E6C;
}

footer .right-container > :nth-child(2){
  color: #C5C6C4;
}
