body{
  font-family: Roboto;
}


.header-container{
  background: url('Books.MD_UI_Assets/books_header_bg.jpg') 100% 100% no-repeat;
  height: 250px;
  overflow: hidden;
}

.img-container{
  float: left;
  margin-top: 30px;
  margin-left: 30%;
}

.paragraph-container{
  margin-top: 36px;
  margin-left: 15px;
  float: left;
}

#first-p{
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  color: white;
  font-size: 33px;
  margin: 0;
}

#second-p{
  font-family: 'Roboto', sans-serif;
  color: rgba(38, 36, 35, 0.5);
  margin: 0;
}

.search-container{
  clear: both;
  padding-left: 0;
  padding-top: 40px;
  margin-left: 30%;
}

input[type="search"] {
  width: 610px;
  padding: 10px;
  color: #9CC12C;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  border-radius: 3px 0 0 3px;
  border: 0px solid rgba(255, 255, 255, 0.09);
  background: rgba(255, 255, 255, 0.25);
  float: left;
}

.icon{
  float: left;
  width: 42px;
  height: 29px;
  background: #FFFFFF;
  padding-top: 10px;
  padding-left: 13px;
  border-radius: 0 3px 3px 0;
}

.fa-search {
  color: #A1C52E;
  font-size: 23px;
}

.nav-container{
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.nav-container nav a{
  text-decoration: none;
  color: #8E8F8D;
  margin: auto 15px;
}

.nav-container nav a:hover{
  color: #A1C52E;
}

.nav-container nav .active{
  color: #A1C52E;
  cursor: default;
}

.middle{
 background-color : whitesmoke;
  height : 2650px;
  display : inline-box;
  width : 100%;
}
.box{
  background-color : white;
  height : 450px;
  width : 80%;
  position : relative;
  left : 7%;
  margin-top : 5%;
  border-radius : 8px;
}



.book{
  float : right;
  position : absolute;
  right : -12%;
  }

  .book1{
  float : right;
  width : 63.5%;
  height : 442px;
  background-color : rgba(255,255,255,1);
  position : absolute;
  left : 44%;
border : 5px solid skyblue;  
}

  .tabs{
  
  text-align : center;
  height : 20px;
  font-size : 16px;
  width : 50%;
  padding : 1%;
  position : absolute;
  left : 83.1%;
  top : 45%;
-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.gray{
  float : left;
  width : 44%;
  height : 450px;
  background-color : rgba(125,125,125,0.8);
  position : absolute;
}
.x{
width : 10%;
  display : inline-block;
}
.bSearch{
  background-color : skyblue;
width : 25%;
  display : inline-block;
  color : blue;
}
.bTable{
  color : skyblue;
width : 25%;
  display : inline-block;
}
.bRate{
  color : skyblue;
  width : 25%;
  display : inline-block;
}

  
.title{
  margin-left : 3%;
}
.author{
  font-size : 14px;
}
.follow{
  background-color : rgba(0,0,0,0);
  border : 2px solid olive;
  color : olive;
  margin-left : 12px;
}
.publish{
  margin-left : 59px;
  color : gray;
}
.description{
  float : left;
  display : inline-block;
  font-size : 18px;
  width : 40%;
  padding-left : 3%;
  padding-right : 3%;
}

.description1{
  float : left;
  display : inline-block;
  font-size : 14px;
  border-left : 3px solid rgba(0,0,0,0.2);
  width : 34%;
  margin-left : -2%;
  padding-left : 2%;
  ;
}

.Num1{
  display : inline-block;
  float : right;
  position : absolute;
bottom : 63%;
  right : 28%;

}
.b1{
  display : inline-block;
  font-size : 18px;
  width : 75%;
  height : 6px;
  background-color : gray;
}
.b2{
  display : inline-block;
  font-size : 18px;
  border : 3px solid darkorange;
  background-color : red;
  width : 80%;
  height : 0px;
  float : left;
}
.Num2{
  display : inline-block;
  position : absolute;
bottom : 52%; 
 right : 28%;
}
.b3{
  display : inline-block;
  font-size : 18px;
  width : 75%;
  height : 6px;
  background-color : gray;
}
.b4{
  display : inline-block;
  font-size : 18px;
  border : 3px solid limegreen;
  background-color : red;
  width : 75%;
  height : 0px;
  float : left;
}
.Num3{
  display : inline-block;
  position : absolute;
bottom : 41%;
  right : 28%;
}
.b5{
  display : inline-block;
  font-size : 18px;
  width : 75%;
  height : 6px;
  background-color : gray;
}
.b6{
  display : inline-block;
  font-size : 18px;
  border : 3px solid dodgerblue;
  background-color : red;
  width : 95%;
  height : 0px;
  float : left;
}
.Rate{
  font-size : 18px;
  border-bottom : 2px solid rgba(0,0,255,0.2);
  color : blue;
  width : 75%;
}

.arrow{
  display : inline-block;
  position : absolute;
bottom : 26%;
right : 28.2%;

}
.Table{
  width : 75%;
  font-size : 18px;
  border-bottom : 2px solid rgba(0,0,255,0.2);
  color : blue;
  margin-top : 20px;
}

.arrow1{
  display : inline-block;
  position : absolute;
  bottom : 17%;
  right : 28.2%;

}
.Search{
  width : 75%;
  font-size : 18px;
  color : blue;
  margin-top : 15px;
}
.arrow2{
 display : inline-block;
position : absolute;
bottom : 8.5%;
right : 28.2%;

}

.search1{
  height : 20px;
  font-size : 20px;
  border: 1px solid skyblue;
  width : 54%;
  padding : 1%;
  position : absolute;
  left : 48%;
  top : 4%;
}
.space{
  margin-bottom : -1.5%;
}
.page{
  float : right;
}
.List{
  height : 270px;
  font-size : 18px;
  width : 54%;
  padding : 1%;
  position : absolute;
  left : 48%;
  top : 16%;
}
.vslider{
  height : 290px;
  display : inline-block;
  font-size : 20px;
  border: 1px solid gray;
  position : absolute;
  right : -5.8%;
  top : 24%;
}
.innerSlide{
  height : 110px;
  display : inline-block;
  font-size : 20px;
  border: 3px solid gray;
  position : absolute;
  right : -6%;
  top : 24%;
}

.gumroad{
  height : 40px;
  width : 20%;
  color : limeGreen;
  background-color : white;
  position : absolute;
  top : 108%;
  left : 0%;
    border-radius : 7px;
    font-weight: 800px;
}

.amazon{
  height : 40px;
  width : 20%;
  color : limeGreen;
  background-color : white;
  position : absolute;
  top : 108%;
<<<<<<< HEAD
  left : 0%;
  //float : left;
=======
  left : 23%;
>>>>>>> 3ba5a590a45f751121ff935fbabf5f7e0db73a5e
    border-radius : 7px;
    
}

.manning{
  font-weight: 800px;
  height : 40px;
  width : 20%;
  color : limeGreen;
  background-color : white;
  position : absolute;
  top : 108%;
  left : 46%;
    border-radius : 7px;
}

.bookmark{
  
  height : 40px;
  width : 20%;
  position : absolute;
  top : 108%;
  left : 100%;
}

.download{
  height : 60px;
  color : white;
  font-size : 20px;
  background-color : limegreen;
  position : absolute;
  top : 108%;
  left : 0%;
    border-radius : 7px;
}

.price{
  position : relative;
  bottom : 50%;
left : 1%;
}

/*Footer code*/

.footer-container{
  background: #3A3939;
  overflow: hidden;
  width: 100%;
  height: 150px;
}

footer .left-container{
  float: left;
  margin-top: 3.5%;
  margin-left: 15%;
}

footer .left-container img{
  float: left;
}

footer .left-container p{
  float: left;
  color: #696E6C;
  margin-left: 8px;
  margin-top: 10px;
}

footer .left-container p strong{
  color: #C5C6C4;
}

footer .right-container{
  float: right;
  font-size: 12px;
  margin-top: 3.5%;
  margin-right: 15%;
}

footer .right-container p{
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

footer .right-container > :first-child{
  color: #696E6C;
}

footer .right-container > :nth-child(2){
  color: #C5C6C4;
}
<<<<<<< HEAD

a{
  text-decoration: none;
}
=======
>>>>>>> 3ba5a590a45f751121ff935fbabf5f7e0db73a5e
